# question 1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get('https://www.naukri.com')

In [5]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Banglore')

In [7]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
# scraping job title for the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scarping job location for the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scarping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping experience required for given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [10]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [11]:
# creating the dataframe from above data
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-10 Yrs
2,Data Analyst - CRM Platform,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Artech infosystem,1-6 Yrs
3,HCL hiring For Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",HCL Technologies,3-8 Yrs
4,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
5,Sr. Data Analyst,"Pune, Bangalore/Bengaluru",Global Indian School Education Services,6-11 Yrs
6,Data Analyst - FinTech,"Mumbai, Hyderabad/Secunderabad, Pune, Ahmedaba...",Primo Hiring,1-2 Yrs
7,Assistant Manager/Manager - Data Analyst - Ana...,"Delhi / NCR, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,6-11 Yrs
8,Python Data Analyst - WFH,Remote,hCapital Business Consulting Private Limited,4-9 Yrs
9,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs

# question 2

In [12]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [13]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [14]:
driver.get('https://www.naukri.com')

In [15]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [16]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Banglore')

In [17]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]

In [19]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scarping job location for the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scarping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [20]:
print(len(job_title), len(job_location), len(company_name))

10 10 10

In [21]:
# creating the dataframe from above data
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Job Opportunity on Data Science_ Python with T...,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tech Mahindra
1,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",upGrad
5,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
6,Hiring Data Science Intern - DataTrained Educa...,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",DataTrained
7,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics
8,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
9,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.

# question 3

In [22]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [23]:
driver.get('https://www.naukri.com')

In [24]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [25]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Delhi/NCR')

In [26]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [28]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scrape job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scrape the company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scarpe the experience required from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [29]:
print(len(job_title), len(job_location), len(company_name), (experience_required))

10 10 10 ['4-9 Yrs', '6-8 Yrs', '4-9 Yrs', '0-2 Yrs', '8-10 Yrs', '3-8 Yrs', '6-10 Yrs', '5-8 Yrs', '1-2 Yrs', '3-8 Yrs']

In [30]:
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Experience_required':experience_required})
df

,Job_title,Job_location,Company_name,Experience_required
0,Job Opportunity on Data Science_ Python with T...,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Tech Mahindra,4-9 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
3,Hiring Data Science Intern - DataTrained Educa...,"Delhi / NCR, Noida, Kolkata, Hyderabad/Secunde...",DataTrained,0-2 Yrs
4,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
5,AVAP Agile Information Systems - Data Scientis...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",AVAP Agile,3-8 Yrs
6,Data Scientist Lead,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Cloudjune,6-10 Yrs
7,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",ZS Associates,5-8 Yrs
8,Data Scientist,"Noida, Bangalore/Bengaluru\n(WFH during Covid)",Paytm,1-2 Yrs
9,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix,3-8 Yrs

# question 4

In [31]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [32]:
url = "https://www.flipkart.com/" 
driver.get(url)

In [33]:
#locating the search bar
search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
search_bar.send_keys('sunglasses')


#locating the button and clicking it toh search for sunglasses
button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button.click()

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_36HLxm col col-3-5">...</div>
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0131DF13+2219795]
	Ordinal0 [0x012B2841+1779777]
	Ordinal0 [0x011C423D+803389]
	Ordinal0 [0x011F99D4+1022420]
	Ordinal0 [0x011F78C4+1013956]
	Ordinal0 [0x011F54AB+1004715]
	Ordinal0 [0x011F4117+999703]
	Ordinal0 [0x011E9B76+957302]
	Ordinal0 [0x0120E7FC+1107964]
	Ordinal0 [0x011E94B4+955572]
	Ordinal0 [0x0120EA14+1108500]
	Ordinal0 [0x0121F192+1175954]
	Ordinal0 [0x0120E616+1107478]
	Ordinal0 [0x011E7F89+950153]
	Ordinal0 [0x011E8F56+954198]
	GetHandleVerifier [0x01612CB2+3040210]
	GetHandleVerifier [0x01602BB4+2974420]
	GetHandleVerifier [0x013B6A0A+565546]
	GetHandleVerifier [0x013B5680+560544]
	Ordinal0 [0x012B9A5C+1808988]
	Ordinal0 [0x012BE3A8+1827752]
	Ordinal0 [0x012BE495+1827989]
	Ordinal0 [0x012C80A4+1867940]
	BaseThreadInitThunk [0x75810419+25]
	RtlGetAppContainerNamedObjectPath [0x77E974ED+237]
	RtlGetAppContainerNamedObjectPath [0x77E974BD+189]

In [35]:
page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

In [36]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]

In [37]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]

# scraping all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))

In [38]:
# creating dataframe for the first 100 sunglasses listings on flipkart.com:

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price']=Price[0:100]

In [39]:
flipkart

Empty DataFrame
Columns: [Brand, Product Description, Price]
Index: []

# question 5

In [62]:
import selenium
import pandas as pd
from selenium import webdriver

In [63]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [64]:
url="https://www.flipkart.com/"

In [65]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [66]:
# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)

for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
96,5,Excellent,It was amazing experience for me. Honestly i a...
97,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
98,5,Excellent,Just go for it.\nThis phone is really amazing....
99,5,Super!,This is my first ever iPhone.\nAnd I truly don...

# question 6

In [67]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [68]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [69]:
url="https://www.flipkart.com/"
driver.get(url)

In [70]:
search=driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']//input")
search.send_keys('sneakers')

apply=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")

In [71]:
urls=[]
Brand=[]
Description=[]
Price=[]
Discount=[]
for i in range(0,3):
    for j in driver.find_elements(By.XPATH,"//a[@class='IRpwTa']"):
        urls.append(j.get_attribute('href'))
    for i in range(0,3):
        for i in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
            Brand.append(i.text)
        for i in driver.find_elements(By.XPATH,"//a[@class='IRpwTa']"):
            Description.append(i.text)
        for i in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
            Price.append(i.text)
        for i in driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']//span"):
            Discount.append(i.text)

In [72]:
df=pd.DataFrame({})
df['Brand']=Brand[:100]
df['Price']=Price[:100]
df['Discount']=Discount[:100]
df['Description']=Description[:100]

In [73]:
df

Empty DataFrame
Columns: [Brand, Price, Discount, Description]
Index: []

# question 7

In [74]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [75]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [76]:
url=' https://www.myntra.com/shoes'
driver.get(url)

In [77]:
color_fitler=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_fitler.click()

In [78]:
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [79]:
urls=[]
Brand=[]
Description=[]
Price=[]
for i in range(0,3):
    for j in driver.find_elements(By.XPATH,"//ul[@class='results-base']//a"):
        urls.append(j.get_attribute('href'))
    for i in range(0,3):
        for i in driver.find_elements(By.XPATH,"//h3[@class='product-brand']"):
            Brand.append(i.text)
        for i in driver.find_elements(By.XPATH,"//h4[@class='product-product']"):
            Description.append(i.text)
        for i in driver.find_elements(By.XPATH,"//div[@class='product-price']//span"):
            Price.append(i.text)

In [81]:
df=pd.DataFrame({})
df['Brand']=Brand[:100]
df['Price']=Price[:100]
df['Description']=Description[:100]

df

               Brand              Price                     Description
0               Nike   Rs. 7880Rs. 8295  Men ZOOM WINFLO8 Running Shoes
1           Skechers           Rs. 7880                Men Sports Shoes
2   ADIDAS Originals           Rs. 8295        Men Niteball II Sneakers
3               Nike           (5% OFF)    Men React Infinity 3 Running
4   ADIDAS Originals           Rs. 8499   Men Leather Niteball Sneakers
..               ...                ...                             ...
95  ADIDAS Originals          (10% OFF)        Men Retropy F90 Sneakers
96    Tommy Hilfiger  Rs. 8799Rs. 10999            Men Leather Sneakers
97            ADIDAS           Rs. 8799   Men 4DFWD_Pulse Running Shoes
98    Tommy Hilfiger          Rs. 10999              Men Solid Sneakers
99    Tommy Hilfiger          (20% OFF)            Men Leather Sneakers

[100 rows x 3 columns]

# question 8

In [82]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [83]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [84]:
driver.get("http://www.amazon.in/")

In [85]:
laptop = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('laptop')

In [86]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.send_keys('laptop')

In [87]:
#finding search
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [88]:
#Creating empty list
title = []
laptop_rating = []
laptop_price = []
#title scraping
laptop_title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_title[0:10]:
    lap_title = i.text
    title.append(lap_title)

In [89]:
#Scraping price
lap_price = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in lap_price[0:10]:
    laptop_price.append(i.text)

In [90]:
print(len(title),len(laptop_price))

10 10

In [91]:
#Scraping ratings
url = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")
url1 = []


for i in url[:10]:
    url1.append(i.get_attribute('href'))
for url2 in url1:
    driver.get(url2)
    try:                  
        rating = driver.find_element(By.XPATH, "//span[@class='a-size-base a-nowrap']//span")
        laptop_rating.append(rating.text)
        
    except NoSuchElementException:
        laptop_rating.append("NO rating")

In [92]:
#Creating dataframe
laptop_df = pd.DataFrame({'Title':title, 'Ratings': laptop_rating, 'Price':laptop_price})
laptop_df = laptop_df.style.hide_index()
laptop_df

# question 9

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
driver.get(" https://www.ambitionbox.com//")

In [ ]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a').click()

In [ ]:
data = driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
data.send_keys('Data Scientist')

In [ ]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span').click()

In [ ]:
location = driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location.send_keys('Noida')

In [ ]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [ ]:
#Creating empty list
Company = []
no_day = []
c_rating = []

#Scraping first 10 company names.
c_name = driver.find_elements(By.XPATH, '//p[@class="company body-medium"]')
for i in c_name[0:10]:
    Company.append(i.text)
    
#Scraping No of days ago when job posted
days = driver.find_elements(By.XPATH, "//div[@class='other-info']/span[1]")
for i in days[0:20]:
    nos = i.text
    no_day.append(nos)
    
#Scraping rating of the company
com_rat = driver.find_elements(By.XPATH, '//span[@class="body-small"]')
for i in com_rat[0:10]:
    c_rating.append(i.text)
    
c_rating

In [ ]:
#Creating Daframe to showcase scrapped data
job = pd.DataFrame({'Company Name':Company, 'No Of Days Ago Job Posted':no_day, 'Company Rating':c_rating})
job = job.style.hide_index()
job

# question 10

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver

In [ ]:
#Opening Ambitionbox page on automated webdriver
driver.get('https://www.ambitionbox.com/')

In [ ]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [ ]:
#Click on salary
time.sleep(3)
driver.find_element(By.XPATH, '/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span').click()

In [ ]:
#Click on Browse salaries 
driver.find_element(By.XPATH, '/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a').click()

In [ ]:
#Enter Data Scientist
time.sleep(2)
ds = driver.find_element(By.XPATH, '/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
ds.send_keys('Data Scientist')

In [ ]:
#Click on Data Scientist
data = driver.find_elements(By.CLASS_NAME, 'tt_text')
data[0].click()

In [ ]:
#Creating empty list.
ds_com = []
no_sal = []
avg_sal = []
min_sal = []
max_sal = []
exp_req = []

#Scraping company name
comp_name = driver.find_elements(By.XPATH, '//div[@class="company-info"]')
for i in comp_name:
    ds_com.append(i.text.split('\n')[0])
    
#Scraping total salary record
for i in comp_name:
    no_sal.append(i.text.split('\n')[-1].split('(')[-1].strip(')').strip(' '))

#Scraping average salary
av = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
for i in av:
    avg_sal.append(i.text.split('₹')[-1])
    
#Scraping minimum salary
mini = driver.find_elements(By.XPATH, '//div[@class="salary-values"]')
for i in mini:
    min_sal.append(i.text.split('\n')[0].strip('₹').strip(' '))

#Scraping maximum salary
for i in mini:
    max_sal.append(i.text.split('\n')[1].strip('₹').strip(' '))
    
#Scraping experience required
for i in comp_name:
    exp_req.append(i.text.split('\n')[-1].split('(')[0].strip(' '))
    
#creating dataframe
DF = pd.DataFrame({'Company Name':ds_com[0:10], 'Total No Of Records':no_sal[0:10], 'Average Salary':avg_sal[0:10], 'Minimun Salary':min_sal[0:10], 'Maximum Salary':max_sal[0:10], 'Experience Required':exp_req[0:10]})
DF = DF.style.hide_index()
DF